.logo-picture{
    height: 4rem;
    margin-left: 2rem;

}
////////// search bar////////////////

.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    &_input{
    font-family: inherit;
    font-weight: inherit;
    width: 90%;
    padding: 1rem 2rem;
    background-color:var(--grey-light3);
    border-radius: 100px;
    border: none;
    color: inherit;
    transition: all .2s;

    &:focus{
    width: 100%;
    outline: none;
    background-color:var(--grey-light4);
    }

    &::-webkit-input-placeholder{
        font-weight: 100;
        color: var(--grey-light4);
    } 
}
    &_button{
    margin-left: -3.5rem;
    border: none;
    background-color:var(--grey-light2);
    &:focus{
        outline: none;
    }   
}
&_icon{
    height: 2.5rem;
    width: 2.5rem;  
}
}
////////////////////user + picture box/////////////
.user{
    display: flex;
    align-self: stretch;
    align-items: center;
& > *{
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
}
& > *:hover{
    background-color:var(--grey-light2);
}
&-iconbox{
        display: flex;
        align-items: center;
        position: relative
}

&_icon{
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2);
    
    }
&_notification{
    position: absolute;
    right: .5rem;
    top: 1.5rem;
    font-size:1.0rem ;
    color: #fff;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--primary) ;
    display: flex;
    justify-content: center;
    align-items: center;   
}
&-picturebox{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

&-picture{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;

}
&-name{
    margin: 0 1.5rem;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: solid;
}
}

////////////////////////// sidebar +hotel view/////////

.sidebar_nav{ 
        list-style: none; 
        margin-top: 3.5rem;
        text-align: center;
        font-size: 1.4rem;  
        justify-content: space-between;
        // background-color: lawngreen;
    
   &_item{
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;
         }
         &:first-child{
            background-color: var(--primary);
         }
   }
    &_item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--primary) ;
        transform: scaleY(0);
        transition: transform .2s, width .4s ease-in-out .2s;
    }
    &_item:hover::before{  
        transform: scaleY(1);
        width: 100%;
    }
    &_link:link,
    &_link:visited{
        text-decoration: none;
        color: var(--grey-light);
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3.5rem;
        display: flex; 
        align-items: center;
        position: relative;
        z-index: 10;
        }

    &_icon{
        height: 1.75rem;
        width: 1.75rem; 
        margin-right: 2rem;
        fill: var(--grey-light);
    }
}

.legal{
    text-align: center;
    color: var(--grey-light4);
    font-size: 1.2rem;
    padding: 2.5rem;
}

// ////gallary////////
.gallary{
    display: flex;
    &_item{
        color: ivory;

    }
    &_photo{
        width: 100%;
        display: block;
    }
}
// ///////////////// HOTEL VIEW////////////////////// 
.overview{
    display: flex;
    align-items: center;
    border-bottom:1px solid var(--grey-light2) ;
    &_heading{
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
        text-transform: uppercase;
        font: 300;
        letter-spacing: 1px;
    }
    &_stars{
     display: flex;
    align-items: center;

    }
    &_stars_icon,
    &_location_icon{
    height: 1.75rem;
    width: 1.75rem;  
    fill: var(--primary);  

    }
}
.details{
    display: flex;
    align-items: center;
   margin-left: auto;

    &_overview{
    display: flex;
    
    &_discription{
        border: none;
        color: var(--primary);
        font-size: 2rem;
        border-bottom: 1px solid var(--primary);
        
        
        &:hover{
            color: var(--grey-light4);
        }
        &:focus{
            outline: none;
            animation: pulse 1s infinite;
        }   
    }
    &_location{
        display: flex;
        vertical-align: center;
        font-size: 1.2rem;
         padding: 0 1rem;
}  
}
&_hotel_review{
    background-color: var(--primary);
    text-align: center;
   margin-left: 2rem;
   color: #fff;
   &_rating{
    font-size: 3.5rem;
    padding: 1rem 2.5rem;
   }
  &_votes{
    padding-bottom: 1rem;
    font-size: 1.75rem;
  }
}
}

@keyframes pulse{
    0%{
        box-shadow: none;
        transform: scale(1);
    }
    50%{
        box-shadow:0 1rem 4rem rgba(0,0,0,0.5) ;
        transform: scale(1.05);
    }
    100%{
        box-shadow: none;
        transform: scale(1);
    }
}

